SOA Codes & Projects/helloWSClient/src/META-INF/wsdl/localhost_32533/HelloWS/greetingService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://greeting.tn" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://greeting.tn">

<xs:element name="greetingOperation" type="tns:greetingOperation"/>

<xs:element name="greetingOperationResponse" type="tns:greetingOperationResponse"/>

<xs:element name="greetingToOperation" type="tns:greetingToOperation"/>

<xs:element name="greetingToOperationResponse" type="tns:greetingToOperationResponse"/>

<xs:complexType name="greetingOperation">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="greetingOperationResponse">
<xs:sequence>
<xs:element name="greeting" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="greetingToOperation">
<xs:sequence>
<xs:element name="FirstName" type="xs:string" minOccurs="0"/>
<xs:element name="LastName" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="greetingToOperationResponse">
<xs:sequence>
<xs:element name="greetingTo" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>